{% extends "layout.html" %}

{% block body %}
<form action="/update_person" method="POST">
  <input type="hidden" name="user_id" value="{{user_info[4]}}" />
  First Name: <input type="text" name="first_name" value="{{user_info[0]}}" /><br />
  Last Name: <input type="text" name="last_name" value="{{user_info[1]}}"/><br />
  GitHub Link: <input type="text" name="github_link" value="{{user_info[3]}}"/><br />
  Upload New Image: <input type="file" name="profile_img" accept="image/*" /><br />
  {% for user_number, type in user_contact_info: %}
  {{type}} Phone: <input type="text" name="user_number_{{type}}" value="user_number" /><br />
  {% endfor %}
  <p>
    <button type="submit">Edit Contact</button>
  </p>
</form>
<a href="/details?id={{user_info[4]}}">Back to Details</a>
  {% endblock %}
