{% extends "layout.html" %}
{% block body %}
<div class="row">
  <h3 class = "page_title">{{title}}</h3>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Page
          </th>
          <th>
            Last Modified
          </th>
          <th>
            Modified By
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for entry in page_list: %}
        <tr>
          <td>
            <a href="/view/{{entry.page_id}}">{{entry.title}}</a>
          </td>
          <td>
            {{entry.last_modified}}
          </td>
          <td>
            {{entry.modified_by}}
          </td>
          <td>
            <a href="/delete/{{entry.page_id}}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
