<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      Mark's Wiki
    </title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <div>
      <a href="/new_page">Add New Page</a>
    </div>
    <div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message | safe }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    {% block body %}
    <div style="text-align: center">
      Uh oh! Looks like something went wrong.
      <ul>
        <li>
          <a href="#">Report a problem</a>
        </li>
        <li>
          <a href="/index.html">Go back to the homepage</a>
        </li>
      </ul>
    </div>
    {% endblock %}
  </body>
</html>
